.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container-all-pokemons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  color: rgb(131, 10, 125);
  font-size: 80px;
}
.container-pokemon {
  margin: 10px 0px;
  border: solid 2px purple;
  background-color: pink;
  width: 300px;
  margin: 20px;
}

.img-pokemon {
  width: 200px;
}

.pokemon-button {
  margin-bottom: 10px;
  color: red;
  background-color: rgba(147, 226, 218, 0.877);
}

.terrifying {
  font-size: 30px;
  color: red;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Player {
  list-style: none;
}

.Player-container {
  padding: 20px 0px;
}

.Scoreboard {
  background-color: pink;
  max-width: 400px;
  border: solid 2px purple;
  padding: 10px;
}

.progress-bar {
  background-color: purple !important;
}

.increment-button {
  margin: 0px 20px;
}

.progress {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
